extends layout

block content
    body
      header
        h1 St. Jude Memphis Marathon
        p
          | In 2017 St. Jude Children's Research Hospital witnessed 2,347 people complete 26.2 miles through the streets of Memphis, TN. Based on
          a(href='http://www.besttimescct.com/results/marathon-results-by-place-2017.HTML') public race result data
          | , this visualization seeks to explore the data behind the runners. A majority of the runners traveled from Tennessee (60%), Mississippi (44%), and Arkansas (40%), while some traveled from as far as provinces in Canada! Out of the 2,347 people who finished
        p
          strong.male-gender 1,284 were male
          |  and
          strong.female-gender  1,063 were female
          | .
      section.data-chapter
        div#finishers-container
          div.viz-contents
            #loading
            #g
            #tooltip
              #tooltip-inside
