doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    meta(http-equiv='Content-Type', content='charset=utf-8')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=960')
    title 2017 St. Jude Memphis Marathon data
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700', rel='stylesheet')
    link(rel='stylesheet', href='/main.css')
  body
    block content
    // [if gt IE 8] <!

    script(src='/dist/main.min.js')
    // <![endif]
